body {
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
}

h1 {
    font-size: 5.625rem;
    margin-top: 50px auto 0 auto;
    font-family: 'Pacifico', cursive;
    color: #66BFBF;
    line-height: 2;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color: #66BFBF;
    font-weight: 400;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    color: #11999E
}

a {
    color: #11999E
}

.header-container {
    background-color: #e0ece4;
    position: relative;
    padding-top: 100px;
}

.bottom-cloud {
    position: absolute;
    right: 300px;
    top: 50px;
}

.top-cloud {
    position: absolute;
    left: 300px;
    bottom: 300px;
    
}

.bottom-container {
    background-color: lightcoral;
    margin-bottom: 0;
}

#cr-text {
    margin-bottom: 0px;
    padding-bottom: 20px;
}