body {
    background-color: #68b0ab;
}

hr {
    border-style: none;
    border-top-style: dotted;
    border-color: #ecf4f3;
    border-width: 5px;
    width: 5%
}

h1 {
    color: #ecf4f3;
}

h3 {
    color: #ecf4f3;
}