body {
    background-color: #fbd46d;
}

hr {
    border-style: none;
    border-top-style: dotted;
    border-color: #f4f6ff;
    border-width: 5px;
    width: 5%
}

h1 {
    color: #f4f6ff;
}

h3 {
    color: #4f8a8b;
}